body{
    background-image: url(multipage.png);
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position-x: center;
    background-position-y: 57px;
    background-color: black; /*set page bg color*/
    color: white; /*set font color*/
    font-family: "Inter Tight", sans-serif; /*call font style*/
    font-optical-sizing: auto;
    font-weight: 200; 
    font-style: normal;
  }
  
  h1{
      font-family: "Pinyon Script"; /*specify diff font style for title*/
      font-weight: 400;
      font-size: 500%;
      margin-bottom: 0; /*remove margin*/
  }

  h1, h5{
    display: inline; /*format heading tags into one line*/
  }

  .header{
    width: 40vw;
    height: 65vh;
    margin-left: 50px; /*indent title*/
    margin-top: 260px;
  }

  
  nav a{
    color: white; /*link font to white*/
    padding: 10px; 
    margin:10px;
    font-family: "Inter Tight", sans-serif; /*specify dont style*/
    text-decoration: none; /*remove default underline in link*/
    font-size: 100%; /*increase size*/
  }
  
  nav a:hover{
    background-color: rgb(106, 106, 106); /*change color when hovered*/
  }
  